

#root {
  display: inline-block;
  height: 100vh;
  width: 100vw;
}

.bg-dotted {
  background: white;
  background-image: radial-gradient(skyblue 1px, transparent 0);
  background-size: 5px 5px;
  background-position: -19px -19px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;